@{
    ViewData["Title"] = "Admin Dashboard";
}
<div class="container mt-5">
    <h2 class="text-center">Admin Dashboard</h2>
    <p class="text-muted text-center">Manage employees and view reports here.</p>
</div>

<form asp-controller="Admin" asp-action="Edit" method="get" class="d-flex align-items-center gap-2 mt-5">
    <label for="employeeId" class="me-2 mb-0">Search Employee by ID</label>
    <input type="text" id="employeeId" name="id" class="form-control w-auto" placeholder="Enter Employee Number" required />
    <button type="submit" class="btn btn-outline-primary">Employee Search</button>
</form>
<div class="d-flex align-items-center gap-2 mt-5">
    <a asp-controller="Part" asp-action="UserPartList" class="btn btn-outline-primary">Get all employee list</a>
</div>



