
@{
    ViewData["Tittle"] = "User Dashboard";
}
<h2>Welcome, @User?.Identity?.Name</h2>
<p>Your phone number: @User?.FindFirst(System.Security.Claims.ClaimTypes.MobilePhone)?.Value</p>
<a class="btn btn-primary" asp-controller="Part" asp-action="UserPartList">View car parts</a>
