@model car_kaashiv_web_app.Models.DTOs.PartEditDto

@{
    ViewData["Title"] = "Edit Part";
}

<a class="btn btn-secondary mb-1 mt-1" href="~/Part/PartList">Back</a>
<h4>Edit Part</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPart" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PEmpId" class="control-label">Employee ID</label>
                <input asp-for="PEmpId" class="form-control" readonly />
                <span asp-validation-for="PEmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PName" class="control-label">Part Name</label>
                <input asp-for="PName" class="form-control" />
                <span asp-validation-for="PName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PDetail" class="control-label">Details</label>
                <textarea asp-for="PDetail" class="form-control"></textarea>
                <span asp-validation-for="PDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PPrice" class="control-label">Price</label>
                <input asp-for="PPrice" class="form-control" />
                <span asp-validation-for="PPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PStock" class="control-label">Stock</label>
                <input asp-for="PStock" class="form-control" />
                <span asp-validation-for="PStock" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="ImagePath" class="control-label">Image</label>
                <input asp-for="ImagePath"
                       class="form-control" type="file"
                       accept=".jpg,.jpeg,.png"
                       onchange="previewImage(this)" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div> *@
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <div class="mt-5 mb-5">
                    <img src="@Model.ImageUrl" style="width:100px;" />
                </div>
            }
            <div class="form-group">
                <label asp-for="ImageUpload" class="control-label mb-2">Upload new image</label>
                <input  asp-for="ImageUpload"
                       class="form-control"
                       type="file"
                       accept=".jpg,.jpeg,.png"
                onchange="previewImage(this) />               
                <span asp-validation-for="ImageUpload" class="text-danger"></span>
               
            </div>
            <div class="mt-4 ">
                <img id="imgPreview"
                     src="#"
                     alt="Image preview"
                     style="display:none; max-width:200px; margin-top:10px;" />
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PartList">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script>
           function previewImage(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                  var output = document.getElementById('imgPreview');
                  output.src = e.target.result; // the base64 image string
                  output.style.display = 'block';
              };
              reader.readAsDataURL(input.files[0]);
          } else {
              // Reset preview if no file selected
              var output = document.getElementById('imgPreview');
              output.src = "#";
              output.style.display = 'none';
          }
        }
    </script>
}