@model car_kaashiv_web_app.Models.Entities.TableEmployee

@{
    ViewData["Title"] = "Employee Dashboard";
}
<div>
    <h2>Welcome to Employee Dashboard</h2>     
    <div  class="d-flex align-items-center gap-2 mt-5">
        <a asp-controller="Admin" asp-action="AdminDashboard" class="btn btn-outline-primary">Employee Management</a>
       </div>
</div>
