
@{
    ViewData["Title"] = "CheckoutSuccess";
}

<div class="container text-center mt-5">
    <h2 class="text-success fw-bold">Order Placed Successfully!</h2>
    <p>Thank you for shopping with us. Your order is confirmed</p>
        <!--Lottie Animation-->
    <div class="text-center">          
         <img src="~/images/Success.gif" alt="Success animation" style="width: 300px; height: auto;" />
       </div>
    <a asp-controller="Part" asp-action="UserPartList" class="btn btn-primary mt-4">Continue Shopping</a>
    <a asp-controller="Order" asp-action="Invoice" class="btn btn-primary  mt-4">Invoice</a>
