
@{
    ViewData["Title"] = "CheckoutSuccess";
}

<div class="container text-center mt-5">
    <h2 class="text-success fw-bold">Order Placed Successfully!</h2>
    <p>Thank you for shopping with us. Your order is confirmed</p>
</div>